<h1>Welcome to tanakinator</h1>
<hr />
<table style="height: 135px; text-align: center; margin-left: auto; margin-right: auto;" border="1" width="250">
  <tbody>
    <tr>
      <th style="width: 50px;">&nbsp;</th>
      <th style="width: 50px;">Q1</th>
      <th style="width: 50px;">Q2</th>
      <th style="width: 50px;">Q3</th>
    </tr>
    <tr>
      <td style="width: 50px;"><strong>Solution1</strong></td>
      <td style="width: 50px;">○</td>
      <td style="width: 50px;">○</td>
      <td style="width: 50px;">×</td>
    </tr>
    <tr>
      <td style="width: 50px;"><strong>Solution2</strong></td>
      <td style="width: 50px;">○</td>
      <td style="width: 50px;">×</td>
      <td style="width: 50px;">○</td>
    </tr>
  </tbody>
</table>
