<h1>Welcome to tanakinator</h1>
<hr />
<table style="height: 135px; text-align: center; margin-left: auto; margin-right: auto;" border="1" width="750">
  <tbody>
    <tr>
      <th style="width: 100px;">&nbsp;</th>
      {% for q_id, q_msg in questions.items() %}
      <th style="width: 100px;"><a href="{{ url_for('question_edit', question_id=q_id) }}">{{ q_msg }}</th>
      {% endfor %}
    </tr>
    {% for solution_id, features in table.items() %}
      <tr>
        <td style="width: 100px;">
          <a href="{{ url_for('solution_edit', solution_id=solution_id) }}" >
            <strong>{{ solutions[solution_id] }}</strong>
          </a>
        </td>
        {% for question_id, value in features.items() %}
          <td style="width: 100px;">{{ value | safe }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{{ url_for('solution_create') }}">新しい回答の登録</a>
<a href="{{ url_for('question_create') }}">新しい質問の登録</a>
