<h1>{{ solution.name }}</h1>

<form action="" method="post">
{% for feature, question  in known_feature_table.items() %}
  <p>
    <h3>{{ question.message }}</h3>
    {% if feature.value == 1.0 %}
      <input type="radio" name="q_{{question.id}}" value="はい" checked> はい
      <input type="radio" name="q_{{question.id}}" value="いいえ"> いいえ
    {% else %}
      <input type="radio" name="q_{{question.id}}" value="はい"> はい
      <input type="radio" name="q_{{question.id}}" value="いいえ" checked> いいえ
    {% endif %}
  </p>
{% endfor %}
{% for question in unknown_questions %}
  <p>
    <h3>{{ question.message }}</h3>
    <input type="radio" name="q_{{question.id}}" value="はい"> はい
    <input type="radio" name="q_{{question.id}}" value="いいえ"> いいえ
  </p>
{% endfor %}
  <input type="submit" value="更新">
</form>
<a href="{{ url_for('root') }}">戻る</a>
